// Place all the styles related to the markers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner {
    height: 100px;
    background-color: #96d1e0;
    background-size: contain;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
}