<div class="container-fluid banner py-5 text-center">
    <h1><%= link_to"ðŸƒ", courses_home_path %></h1>
        <h1 class="ms-auto">ã‚³ãƒ¼ã‚¹ã‚’ç·¨é›†</h1>
        <h1 class="ms-auto"></h1>
</div>

<div class="d-flex my-3 justify-content-center">
      
      <%= render 'form', course: @course %>
      
</div>

<div class="d-flex my-3 justify-content-center">
    <%= link_to 'è¡¨ç¤º', @course %> &emsp; |  &emsp;
    <%= link_to 'ä¸€è¦§', courses_path %>
 </div>
